# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore backend node_modules (if you don't need to track them in frontend)
../../backend/node_modules/

# Ignore temp-frontend directory (if you don't need it)
../temp-frontend/
